@import "style.css";
/* filter part of the page*/
.filter {
  display: flex;
  width: 100vw;
  padding: 2rem 0;
  height: 8rem;
}
.filter ul {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: row;
}
.filter ul li {
  list-style-type: none;
  width: 15vw;
  height: 100%;
  transition: 0.2s;
  font-size: 1.2rem;
  color: #717367;
}
.filterText {
  margin-top: calc(8rem / 3);
}
.filter ul li:hover {
  font-size: x-large;
}
.filter ul li:hover > ul {
  display: block;
}
.filter ul li ul {
  display: none;
  margin: 10px 0;
  font-size: 15px;
  position: absolute;
}
.filter ul li ul li:hover {
  font-size: large;
  border: solid #717367 1px;
}
.search-container {
  width: 75vw;
  padding: 0 5vw;
}
.searchBar {
  font-family: "Baskervville", serif;
  font-size: 1.2rem;
  padding: 1rem 5vw;
  border-radius: 1rem;
  width: 100%;
  border-color: #717367;
  border-width: 1px;
}

/* catalog */

.catalog {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 3rem 5rem;
}

.catalog ul {
  display: flex;
  justify-content: space-around;
  height: 40rem;
}

.catalog ul li {
  list-style-type: none;
  width: 33.33%;
  height: 70%;
  padding: 0rem 2vw;
}

.catalog ul li p {
  color: #717367;
}
.catalog-box {
  background-color: #e7e7e7;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-box:hover {
  background-color: rgba(247, 185, 110);
}
.catalog-image {
  opacity: 1;
  height: 80%;
  width: auto;
  transition: 0.3s ease;
  backface-visibility: hidden;
}
.catalog:hover .middle {
  opacity: 1;
}

.product-name {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.product-texture,
.product-size {
  font-size: 1.2rem;
}
.product-price {
  font-size: 1.5rem;
  font-style: italic;
}

@media (max-width: 850px) {
  .catalog {
    display: flex;
    flex-direction: column;
  }
  .catalog ul {
    display: flex;
    flex-direction: column;
    margin: 40rem 0;
  }
  .catalog ul li {
    width: 100%;
    height: 100%;
    padding-bottom: 10rem;
  }
}
