@import "style.css";
@import "products-page.css";
.product-overall {
  width: 100vw;
  height: 90vh;
  padding: calc(10vw - 5rem);
  display: flex;
}
.product-pic {
  width: 50vw;
  padding: 20px;
  background-color: #d8d8d8;
}
.product-details-card {
  color: #717367;
  width: 50vw;
  height: 100%;
  padding: 0 5vw;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #717367;
  margin: 1vh 0;
}
.product-title {
  font-size: 3rem;
}

.product-rating-star {
  font-size: 2rem;
}
.product-rating {
  font-size: 1rem;
}
.product-details {
  font-size: 1.3rem;
  padding: 0.2rem 1rem;
}
.product-tag {
  font-size: 3rem;
  padding: 0.2rem 1rem;
}
.color-option {
  padding: 0 rem;
  display: flex;
  justify-content: center;
}
.quantity-option {
  display: flex;
  justify-content: center;
}
.quantity-input {
  width: 3rem;
  border-radius: 10px;
  border-width: 1px;
}

.buy-now {
  margin: 1vh 1rem;
  padding: 1vh 0;
  width: 100%;
  border: 1px solid;
  transition: 0.3s;
}
.buy-now:hover {
  background-color: #9e9e9e;
  color: white;
}

.related-products,
.buy-now {
  text-align: center;

  font-size: 2rem;
  color: #717367;
}
.add-to-cart {
  margin: 1vh 1rem;
  text-decoration: underline;
  font-size: 1.2rem;
}
,
.related-products {
}
